body {
  background-color: black;
  color: white;
  text-align: center;
}

body h1 {
  font-size: 5rem;
}

#result {
  border: 1px solid;
  padding: 3rem;
  margin: 3rem;
  background-color: white;
  color: grey;
  border-radius: 2.9rem;
  font-size: 3rem;
}

#text-area {
  border: 1px solid;
  padding: 3rem;
  margin: 3rem;
  border-radius: 3rem;
  font-size: 2rem;
}

#style button {
  background-color: aquamarine;
  font-size: 1rem;
  border-radius: 2rem;
  padding: 1rem;
  color: grey;
}
